@font-face {
    font-family: 'NotoSerif';
    src: url('./fonts/NotoSerif-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./fonts/NotoSerif-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GhiocityandDhisthes';
    src: url('./fonts/GhiocityandDhisthes-Italic.otf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveBold';
    src: url('./fonts/HelveBold.ttf');
    font-style: normal;
    font-weight: bold;
}