@import './fonts/fontface';

.adm_emag {
    position: relative;
    padding-top: 44px;
    overflow: hidden;
    font-size: 16px;
    color: #000000;
    line-height: 1.4;

    .w980 {
        width: 980px;
        margin: 0 auto;
    }

    .w1100 {
        width: 1100px;
        margin: 0 auto;
    }

    .section-detail {
        max-width: 660px;
        margin: 0 auto;
        padding: 0 15px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

    .text-bold {
        font-family: 'NotoSerif';
        font-style: normal;
        font-weight: bold;
        text-align: justify;
    }

    .text-normal {
        font-family: 'NotoSerif';
        font-style: normal;
        font-weight: normal;
        margin-bottom: 20px;
        text-align: justify;
    }

    .img-fluid {
        height: auto;
        max-width: 100%;
        min-height: auto;
        display: block;
    }

    .highlight-img {
        --borderWidth: 3px;
        position: relative;
        background: #ff9f2a;

        &::after {
            content: '';
            position: absolute;
            top: calc(-1 * var(--borderWidth));
            left: calc(-1 * var(--borderWidth));
            height: calc(100% + var(--borderWidth) * 2);
            width: calc(100% + var(--borderWidth) * 2);
            background: linear-gradient(60deg, #ff9f2a, #ffa633, #ff9f2a, #ffb400, #ffb400, #fede93, #ffe7ae);
            // border-radius: calc(2 * var(--borderWidth));
            z-index: -1;
            animation: animatedgradient 2s ease alternate infinite;
            background-size: 300% 300%;
        }
    }

    .section-title {
        position: relative;
        text-align: center;
        margin-bottom: 40px;

        .title-text1 {
            color: #1c2c7e;
            font-size: 90px;
            font-family: 'GhiocityandDhisthes';
            font-style: italic;
            font-weight: normal;
            margin-bottom: 0;
        }

        .title-text2 {
            font-family: 'HelveBold';
            font-size: 60px;
            text-transform: uppercase;
            color: #6b1662;
            background: linear-gradient(135deg, #6b1662 0%, #d043a4 25%, #bb3590 50%, #9a2071 75%, #6b1662 100%);
            background-size: 400%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: animate 10s linear infinite;
            margin-bottom: 0;
            margin-top: -10px;
        }

        img {
            display: block;
            max-width: 100%;
            text-align: center;
            margin: -10px auto 0;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #ffffff !important;
    }

    .swiper-pagination-bullet {
        width: 25px !important;
        height: 5px !important;
        border-radius: 0 !important;
        opacity: 1 !important;
        background: #ffffff !important;

        &.swiper-pagination-bullet-active {
            background: #c50976 !important;
        }
    }

    .banner {
        position: relative;
        margin-bottom: 70px;

        .banner-group-img {
            position: relative;
            display: inline-block;
            margin-bottom: 70px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                &:first-child {
                    position: relative;
                    z-index: 1;
                }
            }
        }

        .fire-stage {
            position: absolute;
            z-index: 2;

            .fire-f {
                animation: fireWord calc(var(--duration) * 1s) linear var(--loop);
                animation-delay: calc(var(--delayFire) * 1s);
                opacity: 0;
            }

            .fire-l {
                position: absolute;
                left: 50%;
                top: 50%;
                overflow: hidden;
                margin-left: -6px;
                animation: fireLine calc(var(--duration) * 1s) linear var(--loop);
                animation-delay: calc(var(--delayLine) * 1s);
                opacity: 0;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
            }

            &.fb__1 {
                top: 5%;
                left: 3%;
            }

            &.fb__2 {
                top: 14%;
                left: 18%;
            }

            &.fb__3 {
                top: 7%;
                right: 10%;
            }

            &.fb__4 {
                top: 31%;
                right: 40%;
                transform: scale(0.5);
            }
        }

        .sapo {
            margin-bottom: 50px;

            .text-blue {
                font-size: 22px;
                color: #023674;
            }
        }

        .w980-img {
            position: relative;
        }
    }

    .zone1 {
        position: relative;
        margin-bottom: 70px;

        .section-detail {
            margin-bottom: 70px;
        }

        .zone1-group-img {
            position: relative;
            display: inline-block;
            margin-bottom: 70px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                &:first-child {
                    position: relative;
                    z-index: 1;
                }
            }

            .leaf2 {
                animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                transform-origin: right bottom;
            }

            .leaf1 {
                animation: leaf 2s infinite ease-in-out alternate-reverse;
                transform-origin: left top;
            }

            .khicau1 {
                top: -6% !important;
                left: 10% !important;
                animation: khicau1 40s linear infinite;
            }

            .khicau2 {
                top: 7% !important;
                left: 22% !important;
                animation: khicau2 15s linear infinite;
            }

            .khicau3 {
                top: 0% !important;
                right: 15% !important;
                left: inherit !important;
                animation: khicau3 30s linear infinite;
            }

            .khicau4 {
                top: -5% !important;
                right: 20% !important;
                left: inherit !important;
                animation: khicau3 15s linear infinite;
            }

            .zone1-slider {
                position: absolute;
                top: 50%;
                left: 10%;
                transform: translateY(-50%);
                width: 60%;
                height: 60%;
                z-index: 2;

                .swiper {
                    width: 100%;
                    height: 100%;
                }

                .swiper-slide {
                    img {
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        max-height: 100%;
                        -ms-transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                    }
                }
            }
        }
    }

    .zone2 {
        position: relative;
        margin-bottom: 70px;

        .section-detail {
            margin-bottom: 70px;

            .section-video {
                iframe {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .section-title {
            margin-bottom: 70px;

            .title-text1 {
                margin-bottom: 10px;
                margin-left: -40px;
            }

            .title-text2 {
                margin-top: 0;
                font-size: 72px;
            }

            img {
                margin-top: -30px;
            }
        }

        .zone2-group-img {
            position: relative;
            display: inline-block;
            margin-bottom: 70px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                &:first-child {
                    position: relative;
                    z-index: 1;
                }
            }

            &.gr-1 {
                margin-bottom: 0;
            }

            &.gr-2 {
                margin-top: -150px;
                z-index: 2;

                .leaf2 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: right bottom;
                }

                .leaf1 {
                    animation: leaf 2s infinite ease-in-out alternate-reverse;
                    transform-origin: center bottom;
                }
            }

            &.gr-3 {
                .grid-img {
                    display: flex;

                    width: 100%;
                    overflow: hidden;

                    .grid-img-item {
                        flex: 0 0 49.5%;
                        max-width: 49.5%;

                        img {
                            width: 100%;
                            height: auto;
                            display: block;
                        }
                    }
                }
            }

            &.gr-4 {
                .leaf1 {
                    animation: leaf 2s infinite ease-in-out alternate-reverse;
                    transform-origin: left center;
                }

                .leaf2 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: right bottom;
                }

                .fire-stage {
                    &.fb__1 {
                        top: -5%;
                        left: 3%;
                    }

                    &.fb__2 {
                        top: 4%;
                        left: 18%;
                    }

                    &.fb__3 {
                        top: -7%;
                        right: 10%;
                    }

                    &.fb__4 {
                        top: 11%;
                        right: 40%;
                        transform: scale(0.5);
                    }
                }
            }

            &.gr-7 {
                .fire-stage {
                    &.fb__1 {
                        top: -5%;
                        left: 3%;
                    }

                    &.fb__2 {
                        top: 4%;
                        left: 18%;
                    }

                    &.fb__3 {
                        top: -5%;
                        right: 10%;
                    }

                    &.fb__4 {
                        top: 11%;
                        right: 40%;
                        transform: scale(0.5);
                    }
                }

                .leaf1 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: top left;
                }

                .leaf2 {
                    animation: leaf 2s infinite ease-in-out alternate-reverse;
                    transform-origin: left center;
                }

                .leaf3 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: left center;
                }

                .leaf4 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: right bottom;
                }
            }

            .zone2-slider {
                position: absolute;
                z-index: 2;


                .swiper {
                    width: 100%;
                    height: 100%;
                }

                .swiper-slide {
                    img {
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        max-height: 100%;
                        -ms-transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                    }
                }

                &.slider1 {
                    width: 75%;
                    height: 70%;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &.slider2 {
                    width: 980px;
                    height: 670px;
                    bottom: 5%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .fire-stage {
            position: absolute;
            z-index: 2;

            .fire-f {
                animation: fireWord calc(var(--duration) * 1s) linear var(--loop);
                animation-delay: calc(var(--delayFire) * 1s);
                opacity: 0;
            }

            .fire-l {
                position: absolute;
                left: 50%;
                top: 50%;
                overflow: hidden;
                margin-left: -6px;
                animation: fireLine calc(var(--duration) * 1s) linear var(--loop);
                animation-delay: calc(var(--delayLine) * 1s);
                opacity: 0;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
            }

            &.fb__1 {
                top: 5%;
                left: 3%;
            }

            &.fb__2 {
                top: 14%;
                left: 18%;
            }

            &.fb__3 {
                top: 7%;
                right: 10%;
            }

            &.fb__4 {
                top: 31%;
                right: 40%;
                transform: scale(0.5);
            }
        }
    }

    .zone3 {
        position: relative;
        margin-bottom: 70px;

        .section-detail {
            margin-bottom: 70px;
        }

        .section-title {
            margin-bottom: 70px;
        }

        .zone3-group-img {
            position: relative;
            display: inline-block;
            margin-bottom: 70px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                &:first-child {
                    position: relative;
                    z-index: 1;
                }
            }

            &.gr-1 {
                .leaf1 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: center left;
                }

                .leaf2 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: bottom left;
                }

                .leaf3 {
                    animation: leaf 2s infinite ease-in-out alternate-reverse;
                    transform-origin: bottom center;
                }

                .leaf4 {
                    animation: leaf 2.2s infinite ease-in-out alternate-reverse;
                    transform-origin: center right;
                }
            }
        }

        .fire-stage {
            position: absolute;
            z-index: 2;

            .fire-f {
                animation: fireWord calc(var(--duration) * 1s) linear var(--loop);
                animation-delay: calc(var(--delayFire) * 1s);
                opacity: 0;
            }

            .fire-l {
                position: absolute;
                left: 50%;
                top: 50%;
                overflow: hidden;
                margin-left: -6px;
                animation: fireLine calc(var(--duration) * 1s) linear var(--loop);
                animation-delay: calc(var(--delayLine) * 1s);
                opacity: 0;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
            }

            &.fb__1 {
                top: 5%;
                left: 3%;
            }

            &.fb__2 {
                top: 10%;
                left: 18%;
            }

            &.fb__3 {
                top: 7%;
                right: 10%;
            }

            &.fb__4 {
                top: 30%;
                right: 40%;
                transform: scale(0.5);
            }
        }
    }

    .footer {
        position: relative;

        .credit {
            display: flex;
            justify-content: space-between;
            margin: 50px 0 70px;

            .left {
                border-left: solid 5px #293879;

                p {
                    margin: 0 !important;
                    font-weight: bold;
                    font-family: inherit;
                    line-height: 26px;
                    padding-left: 20px;
                }
            }

            .right {
                text-align: right;

                p {
                    margin: 0 !important;
                    font-family: inherit;
                    line-height: 26px;
                }
            }
        }
    }
}


@keyframes fireWord {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }

    30% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }

    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

@keyframes fireLine {
    0% {
        -webkit-transform: translate(0, 400px);
        -ms-transform: translate(0, 400px);
        -o-transform: translate(0, 400px);
        transform: translate(0, 400px);
    }

    30% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    50% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }

    100% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes animate {
    to {
        background-position: 400%;
    }
}

@keyframes leaf {
    0% {
        -webkit-transform: rotate(0deg) translate(0px, 0px);
        transform: rotate(0deg) translate(0px, 0px);
    }

    30% {
        -webkit-transform: rotate(1deg) translate(0px, 0px);
        transform: rotate(1deg) translate(0px, 0px);
    }

    66% {
        -webkit-transform: rotate(-1deg) translate(0px, 0px);
        transform: rotate(-1deg) translate(0px, 0px);
    }

    100% {
        -webkit-transform: rotate(0deg) translate(0px, 0px);
        transform: rotate(0deg) translate(0px, 0px);
    }
}

@keyframes khicau1 {
    0% {
        -moz-transform: translate(0, 0) scale(1);
        -o-transform: translate(0, 0) scale(1);
        -ms-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    98% {
        -moz-transform: translate(700px, 100px) scale(0.2);
        -o-transform: translate(700px, 100px) scale(0.2);
        -ms-transform: translate(700px, 100px) scale(0.2);
        -webkit-transform: translate(700px, 100px) scale(0.2);
        transform: translate(700px, 100px) scale(0.2);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    100% {
        -moz-transform: translate(700px, 100px) scale(0.2);
        -o-transform: translate(700px, 100px) scale(0.2);
        -ms-transform: translate(700px, 100px) scale(0.2);
        -webkit-transform: translate(700px, 100px) scale(0.2);
        transform: translate(700px, 100px) scale(0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

@keyframes khicau2 {
    0% {
        -moz-transform: translate(0, 0) scale(1);
        -o-transform: translate(0, 0) scale(1);
        -ms-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    98% {
        -moz-transform: translate(100px, 20px) scale(0.5);
        -o-transform: translate(100px, 20px) scale(0.5);
        -ms-transform: translate(100px, 20px) scale(0.5);
        -webkit-transform: translate(100px, 20px) scale(0.5);
        transform: translate(100px, 20px) scale(0.5);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    100% {
        -moz-transform: translate(100px, 20px) scale(0.5);
        -o-transform: translate(100px, 20px) scale(0.5);
        -ms-transform: translate(100px, 20px) scale(0.5);
        -webkit-transform: translate(100px, 20px) scale(0.5);
        transform: translate(100px, 20px) scale(0.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

@keyframes khicau3 {
    0% {
        -moz-transform: translate(0, 0) scale(1);
        -o-transform: translate(0, 0) scale(1);
        -ms-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    98% {
        -moz-transform: translate(-400px, 100px) scale(0.5);
        -o-transform: translate(-400px, 100px) scale(0.5);
        -ms-transform: translate(-400px, 100px) scale(0.5);
        -webkit-transform: translate(-400px, 100px) scale(0.5);
        transform: translate(-400px, 100px) scale(0.5);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    100% {
        -moz-transform: translate(-400px, 100px) scale(0.5);
        -o-transform: translate(-400px, 100px) scale(0.5);
        -ms-transform: translate(-400px, 100px) scale(0.5);
        -webkit-transform: translate(-400px, 100px) scale(0.5);
        transform: translate(-400px, 100px) scale(0.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}