@import './fonts/fontface';

.adm_emag {
    position: relative;
    padding-top: 44px;
    overflow: hidden;
    font-size: 16px;
    color: #000000;
    line-height: 1.4;

    .w980 {
        width: 980px;
        margin: 0 auto;
    }

    .w1100 {
        width: 1100px;
        margin: 0 auto;
    }

    .section-detail {
        max-width: 660px;
        margin: 0 auto;
        padding: 0 15px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

    .text-bold {
        font-family: 'NotoSerif';
        font-style: normal;
        font-weight: bold;
        text-align: justify;
    }

    .text-normal {
        font-family: 'NotoSerif';
        font-style: normal;
        font-weight: normal;
        margin-bottom: 20px;
        text-align: justify;
    }

    .img-fluid {
        height: auto;
        max-width: 100%;
        min-height: auto;
        display: block;
    }

    .highlight-img {
        position: relative;
        background: #ff9f2a;
        overflow: hidden;
        padding: 7px;

        &::before {
            content: "";
            top: 50%;
            left: 50%;
            width: 70vw;
            height: 70vw;
            position: absolute;
            background-image: url('../image/test1.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1;
            opacity: 0;
            transform: translate(-50%, -50%) rotate(320deg);
            transform-origin: center;
            animation: spin 3.25s infinite linear;
        }
    }

    .section-title {
        position: relative;
        text-align: center;
        margin-bottom: 40px;

        .title-text1 {
            color: #1c2c7e;
            font-size: 90px;
            font-family: 'GhiocityandDhisthes';
            font-style: italic;
            font-weight: normal;
            margin-bottom: 0;
        }

        .title-text2 {
            font-family: 'HelveBold';
            font-size: 60px;
            text-transform: uppercase;
            color: #6b1662;
            background: linear-gradient(to right, #851662 0, #d043a4 10%, #851662 20%);
            background-position: -150px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation-fill-mode: forwards;
            -webkit-text-size-adjust: none;
            animation: shine 2s infinite linear;
            margin-bottom: 0;
            margin-top: -10px;
        }

        img {
            display: block;
            max-width: 100%;
            text-align: center;
            margin: -10px auto 0;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #ffffff !important;
    }

    .swiper-pagination-bullet {
        width: 25px !important;
        height: 5px !important;
        border-radius: 0 !important;
        opacity: 1 !important;
        background: #ffffff !important;

        &.swiper-pagination-bullet-active {
            background: #c50976 !important;
        }
    }

    .banner {
        position: relative;
        margin-bottom: 70px;

        .banner-group-img {
            position: relative;
            display: inline-block;
            margin-bottom: 70px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                &:first-child {
                    position: relative;
                    z-index: 1;
                }
            }

            .effect-light {
                mix-blend-mode: screen;
                opacity: 0;
            }

            .light1 {
                animation: eft3 3s ease-in-out 1s infinite;
            }

            .light2 {
                animation: eft2 3s ease-in-out 1s infinite;
            }
        }

        .fire-stage {
            position: absolute;
            z-index: 2;

            .fire-f {
                animation: fireWord calc(var(--duration) * 1s) linear var(--loop);
                animation-delay: calc(var(--delayFire) * 1s);
                opacity: 0;
            }

            .fire-l {
                position: absolute;
                left: 50%;
                top: 50%;
                overflow: hidden;
                margin-left: -6px;
                animation: fireLine calc(var(--duration) * 1s) linear var(--loop);
                animation-delay: calc(var(--delayLine) * 1s);
                opacity: 0;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
            }

            &.fb__1 {
                top: 5%;
                left: 3%;
            }

            &.fb__2 {
                top: 14%;
                left: 18%;
            }

            &.fb__3 {
                top: 7%;
                right: 10%;
            }

            &.fb__4 {
                top: 31%;
                right: 40%;
                transform: scale(0.5);
            }

            &.fb__5 {
                top: 55%;
                right: 36%;
                transform: scale(0.5);
            }

            &.fb__6 {
                top: 55%;
                right: 51%;
                transform: scale(0.5);
            }

            &.fb__7 {
                top: 70%;
                right: 54%;
                transform: scale(0.5);
            }

            &.fb__8 {
                top: 70%;
                right: 28%;
                transform: scale(0.5);
            }
        }

        .sapo {
            margin-bottom: 50px;

            .text-blue {
                font-size: 22px;
                color: #023674;
            }
        }

        .w980-img {
            position: relative;

            .highlight-img {
                position: relative;

                img {
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }

    .zone1 {
        position: relative;
        margin-bottom: 70px;

        .section-detail {
            margin-bottom: 70px;

            .text-normal {
                span {
                    font-style: italic;
                }
            }
        }

        .zone1-group-img {
            position: relative;
            display: inline-block;
            margin-bottom: 70px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                &:first-child {
                    position: relative;
                    z-index: 1;
                }
            }

            .leaf2 {
                animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                transform-origin: right bottom;
            }

            .leaf1 {
                animation: leaf 2s infinite ease-in-out alternate-reverse;
                transform-origin: left top;
            }

            .khicau1 {
                top: -6% !important;
                left: 10% !important;
                animation: khicau1 40s linear infinite;
            }

            .khicau2 {
                top: 7% !important;
                left: 22% !important;
                animation: khicau2 15s linear infinite;
            }

            .khicau3 {
                top: 0% !important;
                right: 15% !important;
                left: inherit !important;
                animation: khicau3 20s linear infinite;

            }

            .khicau4 {
                top: -5% !important;
                right: 20% !important;
                left: inherit !important;
                animation: khicau3 15s linear infinite;
            }

            .khicau5 {
                top: 3% !important;
                left: 13% !important;
                animation: khicau1 40s linear infinite;
            }

            .khicau6 {
                top: 5% !important;
                left: 28% !important;
                animation: khicau2 16s linear infinite;
            }

            .khicau7 {
                top: -2% !important;
                right: 10% !important;
                left: inherit !important;
                animation: khicau3 30s linear infinite;
            }

            .khicau8 {
                top: 5% !important;
                right: 25% !important;
                left: inherit !important;
                animation: khicau3 45s linear infinite;
            }

            .khicau9 {
                top: 5% !important;
                left: 15% !important;

                @media (max-width: 1366px) {
                    transform: scale(0.7);
                }
            }

            .khicau10 {
                top: 0% !important;
                left: 5% !important;

                @media (max-width: 1366px) {
                    transform: scale(0.7);
                }
            }

            .khicau11 {
                top: 7% !important;
                right: 10% !important;
                left: inherit !important;

                @media (max-width: 1366px) {
                    transform: scale(0.7);
                }
            }

            .khicau12 {
                top: 15% !important;
                right: 20% !important;
                left: inherit !important;

                @media (max-width: 1366px) {
                    transform: scale(0.7);
                }
            }

            .khicau13 {
                top: 10% !important;
                right: 5% !important;
                left: inherit !important;

                @media (max-width: 1366px) {
                    transform: scale(0.7);
                }
            }

            .zone1-slider {
                position: absolute;
                top: 50%;
                left: 10%;
                transform: translateY(-50%);
                width: 60vw;
                height: 80vh;
                z-index: 2;

                .swiper {
                    width: 100%;
                    height: 100%;
                }

                .swiper-slide {
                    img {
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        max-height: 100%;
                        -ms-transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                    }
                }

                &.highlight-img {
                    &::before {
                        width: 85vw;
                        height: 85vw;
                    }
                }
            }
        }

        .w1100 {
            .highlight-img {
                &::before {
                    width: 80vw;
                    height: 80vw;
                }

                img {
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }

    .zone2 {
        position: relative;
        margin-bottom: 70px;

        .section-detail {
            margin-bottom: 70px;

            .text-normal {
                span {
                    font-style: italic;
                }
            }
        }

        .section-title {
            margin-bottom: 70px;

            .title-text1 {
                margin-bottom: 10px;
                margin-left: -40px;
            }

            .title-text2 {
                margin-top: 0;
                // font-size: 60px;
            }

            img {
                margin-top: -30px;
            }
        }

        .zone2-group-img {
            position: relative;
            display: inline-block;
            margin-bottom: 70px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                &:first-child {
                    position: relative;
                    z-index: 1;
                }
            }

            &.gr-1 {
                margin-bottom: 0;
            }

            &.gr-2 {
                margin-top: -150px;
                z-index: 2;

                .leaf2 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: right bottom;
                }

                .leaf1 {
                    animation: leaf 2s infinite ease-in-out alternate-reverse;
                    transform-origin: center bottom;
                }
            }

            &.gr-3 {
                .grid-img {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    overflow: hidden;

                    .grid-img-item {
                        flex: 0 50%;
                        max-width: 50%;

                        img {
                            width: 100%;
                            height: 100%;
                            display: block;
                            padding: 0.5%;
                            background-color: #ff9f2a;
                            box-sizing: border-box;
                        }
                    }
                }
            }

            &.gr-4 {
                .leaf1 {
                    animation: leaf 2s infinite ease-in-out alternate-reverse;
                    transform-origin: left center;
                }

                .leaf2 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: right bottom;
                }

                .fire-stage {
                    &.fb__1 {
                        top: -5%;
                        left: 3%;
                    }

                    &.fb__2 {
                        top: 4%;
                        left: 18%;
                    }

                    &.fb__3 {
                        top: -7%;
                        right: 10%;
                    }

                    &.fb__4 {
                        top: 11%;
                        right: 40%;
                        transform: scale(0.5);
                    }
                }
            }

            &.gr-5 {
                .leaf1 {
                    animation: leaf 2s infinite ease-in-out alternate-reverse;
                    transform-origin: left center;
                }

                .leaf2 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: right bottom;
                }
            }

            &.gr-6 {
                .grid-img {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    overflow: hidden;

                    .grid-img-item {
                        flex: 0 0 50%;
                        max-width: 50%;


                        img {
                            width: 100%;
                            height: 100%;
                            display: block;
                            padding: 0.5%;
                            background-color: #ff9f2a;
                            box-sizing: border-box;
                        }
                    }
                }
            }

            &.gr-7 {
                .fire-stage {
                    &.fb__1 {
                        top: -5%;
                        left: 3%;
                    }

                    &.fb__2 {
                        top: 4%;
                        left: 18%;
                    }

                    &.fb__3 {
                        top: -5%;
                        right: 10%;
                    }

                    &.fb__4 {
                        top: 11%;
                        right: 40%;
                        transform: scale(0.5);
                    }
                }

                .leaf1 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: top left;
                }

                .leaf2 {
                    animation: leaf 2s infinite ease-in-out alternate-reverse;
                    transform-origin: left center;
                }

                .leaf3 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: left center;
                }

                .leaf4 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: right bottom;
                }
            }

            .zone2-slider {
                position: absolute;
                z-index: 2;


                .swiper {
                    width: 100%;
                    height: 100%;
                }

                .swiper-slide {
                    img {
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        max-height: 100%;
                        -ms-transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                    }
                }

                &.slider1 {
                    width: 75vw;
                    height: 100vh;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    &.highlight-img {
                        &::before {
                            width: 105vw;
                            height: 105vw;
                        }
                    }
                }

                &.slider2 {
                    width: 50vw;
                    height: 75vh;
                    bottom: 5%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .fire-stage {
            position: absolute;
            z-index: 2;

            .fire-f {
                animation: fireWord calc(var(--duration) * 1s) linear var(--loop);
                animation-delay: calc(var(--delayFire) * 1s);
                opacity: 0;
            }

            .fire-l {
                position: absolute;
                left: 50%;
                top: 50%;
                overflow: hidden;
                margin-left: -6px;
                animation: fireLine calc(var(--duration) * 1s) linear var(--loop);
                animation-delay: calc(var(--delayLine) * 1s);
                opacity: 0;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
            }

            &.fb__1 {
                top: 5%;
                left: 3%;
            }

            &.fb__2 {
                top: 14%;
                left: 18%;
            }

            &.fb__3 {
                top: 7%;
                right: 10%;
            }

            &.fb__4 {
                top: 31%;
                right: 40%;
                transform: scale(0.5);
            }
        }
    }

    .zone3 {
        position: relative;
        margin-bottom: 70px;

        .section-detail {
            margin-bottom: 70px;

            .text-normal {
                span {
                    font-style: italic;
                }
            }
        }

        .section-title {
            margin-bottom: 70px;

            .title-text2 {
                font-size: 56px;
                background: linear-gradient(to right, #851662 0, #d043a4 10%, #851662 11%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation-fill-mode: forwards;
                -webkit-text-size-adjust: none;
                background-position: -65px;
                animation: shine1 2s infinite linear;
            }
        }

        .zone3-group-img {
            position: relative;
            display: inline-block;
            margin-bottom: 70px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                &:first-child {
                    position: relative;
                    z-index: 1;
                }
            }

            &.gr-1 {
                .leaf1 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: center left;
                }

                .leaf2 {
                    animation: leaf 2.1s infinite ease-in-out alternate-reverse;
                    transform-origin: bottom left;
                }

                .leaf3 {
                    animation: leaf 2s infinite ease-in-out alternate-reverse;
                    transform-origin: bottom center;
                }

                .leaf4 {
                    animation: leaf 2.2s infinite ease-in-out alternate-reverse;
                    transform-origin: center right;
                }
            }
        }

        .fire-stage {
            position: absolute;
            z-index: 2;

            .fire-f {
                animation: fireWord calc(var(--duration) * 1s) linear var(--loop);
                animation-delay: calc(var(--delayFire) * 1s);
                opacity: 0;
            }

            .fire-l {
                position: absolute;
                left: 50%;
                top: 50%;
                overflow: hidden;
                margin-left: -6px;
                animation: fireLine calc(var(--duration) * 1s) linear var(--loop);
                animation-delay: calc(var(--delayLine) * 1s);
                opacity: 0;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
            }

            &.fb__1 {
                top: 5%;
                left: 3%;
            }

            &.fb__2 {
                top: 10%;
                left: 18%;
            }

            &.fb__3 {
                top: 7%;
                right: 10%;
            }

            &.fb__4 {
                top: 30%;
                right: 40%;
                transform: scale(0.5);
            }
        }
    }

    .footer {
        position: relative;

        .credit {
            display: flex;
            justify-content: space-between;
            margin: 50px 0 70px;

            .left {
                border-left: solid 5px #293879;

                p {
                    margin: 0 !important;
                    font-weight: bold;
                    font-family: inherit;
                    line-height: 26px;
                    padding-left: 20px;
                }
            }

            .right {
                text-align: right;

                p {
                    margin: 0 !important;
                    font-family: inherit;
                    line-height: 26px;
                }
            }
        }
    }
}


@keyframes fireWord {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }

    30% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }

    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

@keyframes fireLine {
    0% {
        -webkit-transform: translate(0, 400px);
        -ms-transform: translate(0, 400px);
        -o-transform: translate(0, 400px);
        transform: translate(0, 400px);
    }

    30% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    50% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }

    100% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

@keyframes shine {
    0% {
        background-position: -150px;
    }

    40% {
        background-position: 900px;
    }

    100% {
        background-position: 900px;
    }
}

@keyframes shine1 {
    0% {
        background-position: -65px;
    }

    40% {
        background-position: 900px;
    }

    100% {
        background-position: 900px;
    }
}

@keyframes leaf {
    0% {
        -webkit-transform: rotate(0deg) translate(0px, 0px);
        transform: rotate(0deg) translate(0px, 0px);
    }

    30% {
        -webkit-transform: rotate(1deg) translate(0px, 0px);
        transform: rotate(1deg) translate(0px, 0px);
    }

    66% {
        -webkit-transform: rotate(-1deg) translate(0px, 0px);
        transform: rotate(-1deg) translate(0px, 0px);
    }

    100% {
        -webkit-transform: rotate(0deg) translate(0px, 0px);
        transform: rotate(0deg) translate(0px, 0px);
    }
}

@keyframes khicau1 {
    0% {
        -moz-transform: translate(0, 0) scale(1);
        -o-transform: translate(0, 0) scale(1);
        -ms-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    98% {
        -moz-transform: translate(700px, 100px) scale(0.2);
        -o-transform: translate(700px, 100px) scale(0.2);
        -ms-transform: translate(700px, 100px) scale(0.2);
        -webkit-transform: translate(700px, 100px) scale(0.2);
        transform: translate(700px, 100px) scale(0.2);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    100% {
        -moz-transform: translate(700px, 100px) scale(0.2);
        -o-transform: translate(700px, 100px) scale(0.2);
        -ms-transform: translate(700px, 100px) scale(0.2);
        -webkit-transform: translate(700px, 100px) scale(0.2);
        transform: translate(700px, 100px) scale(0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

@keyframes khicau2 {
    0% {
        -moz-transform: translate(0, 0) scale(1);
        -o-transform: translate(0, 0) scale(1);
        -ms-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    98% {
        -moz-transform: translate(100px, 20px) scale(0.5);
        -o-transform: translate(100px, 20px) scale(0.5);
        -ms-transform: translate(100px, 20px) scale(0.5);
        -webkit-transform: translate(100px, 20px) scale(0.5);
        transform: translate(100px, 20px) scale(0.5);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    100% {
        -moz-transform: translate(100px, 20px) scale(0.5);
        -o-transform: translate(100px, 20px) scale(0.5);
        -ms-transform: translate(100px, 20px) scale(0.5);
        -webkit-transform: translate(100px, 20px) scale(0.5);
        transform: translate(100px, 20px) scale(0.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

@keyframes khicau3 {
    0% {
        -moz-transform: translate(0, 0) scale(1);
        -o-transform: translate(0, 0) scale(1);
        -ms-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    98% {
        -moz-transform: translate(-400px, 100px) scale(0.5);
        -o-transform: translate(-400px, 100px) scale(0.5);
        -ms-transform: translate(-400px, 100px) scale(0.5);
        -webkit-transform: translate(-400px, 100px) scale(0.5);
        transform: translate(-400px, 100px) scale(0.5);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }

    100% {
        -moz-transform: translate(-400px, 100px) scale(0.5);
        -o-transform: translate(-400px, 100px) scale(0.5);
        -ms-transform: translate(-400px, 100px) scale(0.5);
        -webkit-transform: translate(-400px, 100px) scale(0.5);
        transform: translate(-400px, 100px) scale(0.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

@keyframes eft3 {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }

    5% {
        opacity: 1;
        transform: translate(0, 0);
    }

    30% {
        opacity: 1;
        transform: translate(5%, -27%);
    }

    70% {
        opacity: 0;
        transform: translate(5%, -27%);
    }

    100% {
        opacity: 0;
        transform: translate(0, 0);
    }
}

@keyframes eft2 {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }

    5% {
        opacity: 1;
        transform: translate(0, 0);
    }

    30% {
        opacity: 1;
        transform: translate(-15%, -30%);
    }

    70% {
        opacity: 0;
        transform: translate(-15%, -30%);
    }

    100% {
        opacity: 0;
        transform: translate(0, 0);
    }
}

@keyframes eft1 {
    0% {
        opacity: 0;
        top: 0;
        left: 0;
    }

    5% {
        opacity: 1;
        top: 0;
        left: 0;
    }

    30% {
        opacity: 1;
        top: 0;
        left: 100%;
    }

    35% {
        opacity: 0;
        top: 0;
        left: 100%;
    }

    40% {
        opacity: 0;
        top: 100%;
        left: 100%;
    }

    50% {
        opacity: 1;
        top: 100%;
        left: 100%;
    }

    70% {
        opacity: 1;
        top: 100%;
        left: 0;
    }

    80% {
        opacity: 0;
        top: 100%;
        left: 0;
    }

    100% {
        opacity: 0;
        top: 0;
        left: 0;
    }
}

@keyframes eft4 {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }

    5% {
        opacity: 1;
        transform: translate(0, 0);
    }

    25% {
        opacity: 1;
        transform: translate(60vw, 0);
    }

    70% {
        opacity: 0;
        transform: translate(60vw, 0);
    }

    100% {
        opacity: 0;
        transform: translate(0, 0);
    }
}

@keyframes eft5 {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }

    5% {
        opacity: 1;
        transform: translate(0, 0);
    }

    25% {
        opacity: 1;
        transform: translate(1100px, 0);
    }

    50% {
        opacity: 1;
        transform: translate(1100px, 618px);
    }

    75% {
        opacity: 1;
        transform: translate(0, 618px);
    }

    100% {
        opacity: 0;
        transform: translate(0, 0);
    }
}

@keyframes eft6 {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }

    5% {
        opacity: 1;
        transform: translate(0, 0);
    }

    25% {
        opacity: 1;
        transform: translate(75vw, 0);
    }

    50% {
        opacity: 1;
        transform: translate(75vw, 100vh);
    }

    75% {
        opacity: 1;
        transform: translate(0, 100vh);
    }

    100% {
        opacity: 0;
        transform: translate(0, 0);
    }
}

@keyframes eft7 {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }

    5% {
        opacity: 1;
        transform: translate(0, 0);
    }

    25% {
        opacity: 1;
        transform: translate(980px, 0);
    }

    50% {
        opacity: 1;
        transform: translate(980px, 670px);
    }

    75% {
        opacity: 1;
        transform: translate(0, 670px);
    }

    100% {
        opacity: 0;
        transform: translate(0, 0);
    }
}

@keyframes spin {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(-40deg);
    }

    5% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-40deg);
    }

    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(290deg);
    }

    95% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(290deg);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(-40deg);
    }
}