@import './fonts/fontface';

.adm_emag {
    position: relative;
    padding-top: 44px;
    overflow: hidden;
    font-size: 14px;
    color: #000000;
    line-height: 1.4;

    .w980 {
        width: 100%;
        margin: 0 auto;
    }

    .section-detail {
        max-width: 660px;
        margin: 0 auto;
        padding: 0 15px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

    .text-bold {
        font-family: 'NotoSerif';
        font-style: normal;
        font-weight: bold;
        text-align: justify;
    }

    .text-normal {
        font-family: 'NotoSerif';
        font-style: normal;
        font-weight: normal;
        margin-bottom: 20px;
        text-align: justify;
    }

    .img-fluid {
        height: auto;
        max-width: 100%;
        min-height: auto;
        display: block;
    }

    .w980-img {
        max-width: 100%;
        position: relative;
    }

    .section-title {
        position: relative;
        padding: 0 15px;
        margin-bottom: 40px;
    }

    .banner {
        position: relative;
        margin-bottom: 40px;

        .banner-group-img {
            position: relative;
            display: inline-block;
            margin-bottom: 40px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                &:first-child {
                    position: relative;
                    z-index: 1;
                }
            }
        }

        .sapo {
            margin-bottom: 50px;

            .text-blue {
                font-size: 22px;
                color: #023674;
            }
        }
    }

    .zone1 {
        position: relative;
        margin-bottom: 40px;

        .section-detail {
            margin-bottom: 40px;
        }

        .zone1-group-img {
            position: relative;
            display: inline-block;
            margin-bottom: 40px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                &:first-child {
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }

    .zone2 {
        position: relative;
        margin-bottom: 40px;

        .section-detail {
            margin-bottom: 40px;

            .section-video {
                iframe {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .zone2-group-img {
            position: relative;
            display: inline-block;
            margin-bottom: 40px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                &:first-child {
                    position: relative;
                    z-index: 1;
                }
            }

            &.gr-7 {
                padding: 0 15px;
            }
        }
    }

    .zone3 {
        position: relative;
        margin-bottom: 40px;

        .section-detail {
            margin-bottom: 40px;
        }

        .zone3-group-img {

            position: relative;
            display: inline-block;
            margin-bottom: 40px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                &:first-child {
                    position: relative;
                    z-index: 1;
                }

            }
        }
    }

    .footer {
        position: relative;

        .credit {
            display: flex;
            justify-content: space-between;
            margin: 50px 0 70px;

            .left {
                border-left: solid 5px #293879;

                p {
                    margin: 0 !important;
                    font-weight: bold;
                    font-family: inherit;
                    line-height: 26px;
                    padding-left: 20px;
                }
            }

            .right {
                text-align: right;

                p {
                    margin: 0 !important;
                    font-family: inherit;
                    line-height: 26px;
                }
            }
        }
    }
}