@font-face {
    font-family: 'NotoSerif';
    src: url('./fonts/NotoSerif-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./fonts/NotoSerif-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}